* text=auto !eol
cursors/header_down.cur -text
cursors/header_resize_h.cur -text
cursors/header_resize_v.cur -text
dll/BarCodeLibrary.dll -text
dll/CitUareUX.dll -text
dll/CitUareUX.tlb -text
dll/SComm32.ocx -text
dll/TAPIExCt.dll -text
dll/WpfTableRes.dll -text
dll/WpfTableRes.tlb -text
dll/blat.dll -text
dll/chilkatftp.dll -text
dll/de-DE/CitUareUX.resources.dll -text
dll/de-DE/WpfTableRes.resources.dll -text
dll/foxcrypto.fll -text
dll/foxtools.fll -text
dll/hndlib.dll -text
dll/md5.fll -text
dll/sr-Latn-RS/CitUareUX.resources.dll -text
dll/sr-Latn-RS/WpfTableRes.resources.dll -text
dll/vfpcompression.fll -text
dll/vfpconnection.fll -text
dll/vfpencryption71.fll -text
dll/vfpexmapi.fll -text
dll/xfrxlib.fll -text
dll/zlib.dll -text
ffc/_app.h -text
ffc/_app.vca -text
ffc/_app.vct -text
ffc/_app.vcx -text
ffc/_base.vca -text
ffc/_base.vct -text
ffc/_base.vcx -text
ffc/_dialogs.vca -text
ffc/_dialogs.vct -text
ffc/_dialogs.vcx -text
ffc/_frxcursor.h -text
ffc/_frxcursor.vca -text
ffc/_frxcursor.vct -text
ffc/_frxcursor.vcx -text
ffc/_gdiplus.vca -text
ffc/_gdiplus.vct -text
ffc/_gdiplus.vcx -text
ffc/_menu.vca -text
ffc/_menu.vct -text
ffc/_menu.vcx -text
ffc/_movers.h -text
ffc/_movers.vca -text
ffc/_movers.vct -text
ffc/_movers.vcx -text
ffc/_reportlistener.vca -text
ffc/_reportlistener.vct -text
ffc/_reportlistener.vcx -text
ffc/_therm.vca -text
ffc/_therm.vct -text
ffc/_therm.vcx -text
ffc/automate.h -text
ffc/automate.vca -text
ffc/automate.vct -text
ffc/automate.vcx -text
ffc/ddecmd.h -text
ffc/dialogs.h -text
ffc/foxpro_reporting.h -text
ffc/gdiplus.h -text
ffc/gdiplus_locs.h -text
ffc/mailmrge.h -text
ffc/mailmrge.vca -text
ffc/mailmrge.vct -text
ffc/mailmrge.vcx -text
ffc/reportlisteners.h -text
ffc/reportlisteners_locs.h -text
forms/_datepicker.sca -text
forms/_datepicker.sct -text
forms/_datepicker.scx -text
forms/_datepickerat.sca -text
forms/_datepickerat.sct -text
forms/_datepickerat.scx -text
forms/_selectlist.sca -text
forms/_selectlist.sct -text
forms/_selectlist.scx -text
forms/_selectlistat.sca -text
forms/_selectlistat.sct -text
forms/_selectlistat.scx -text
forms/elpaycardreader.sca -text
forms/elpaycardreader.sct -text
forms/elpaycardreader.scx -text
forms/elpaysettings.sca -text
forms/elpaysettings.sct -text
forms/elpaysettings.scx -text
libs/_lbasec.vca -text
libs/_lbasec.vct -text
libs/_lbasec.vcx -text
libs/_lbasev.vca -text
libs/_lbasev.vct -text
libs/_lbasev.vcx -text
libs/_lconstants.h -text
libs/_lvisual.prg -text
libs/_lvisual.vca -text
libs/_lvisual.vct -text
libs/_lvisual.vcx -text
libs/_search.vca -text
libs/_search.vct -text
libs/_search.vcx -text
libs/_util.vca -text
libs/_util.vct -text
libs/_util.vcx -text
libs/cit_ca.vca -text
libs/cit_ca.vct -text
libs/cit_ca.vcx -text
libs/cit_cardreader.h -text
libs/cit_cardreader.vca -text
libs/cit_cardreader.vct -text
libs/cit_cardreader.vcx -text
libs/cit_functions.vca -text
libs/cit_functions.vct -text
libs/cit_functions.vcx -text
libs/cit_sqlremote.h -text
libs/cit_sqlremote.vca -text
libs/cit_sqlremote.vct -text
libs/cit_sqlremote.vcx -text
libs/proc_yield.vca -text
libs/proc_yield.vct -text
libs/proc_yield.vcx -text
libs/processhandler.vca -text
libs/processhandler.vct -text
libs/processhandler.vcx -text
libs/rawprint.vca -text
libs/rawprint.vct -text
libs/rawprint.vcx -text
libs/themedcontrols.h -text
libs/themedcontrols.vca -text
libs/themedcontrols.vct -text
libs/themedcontrols.vcx -text
libs/win32api.h -text
libs/worktimehandler.vca -text
libs/worktimehandler.vct -text
libs/worktimehandler.vcx -text
misc/ctl32/ctl32.h -text
misc/ctl32/ctl32.prg -text
misc/ctl32/ctl32.vca -text
misc/ctl32/ctl32.vct -text
misc/ctl32/ctl32.vcx -text
misc/ctl32/ctl32_api.prg -text
misc/ctl32/ctl32_classes.prg -text
misc/ctl32/ctl32_functions.prg -text
misc/ctl32/ctl32_structures.prg -text
misc/ctl32/ctl32_vfp2c32.prg -text
misc/ctl32/vfpx.vca -text
misc/ctl32/vfpx.vct -text
misc/ctl32/vfpx.vcx -text
misc/foxcharts/foxcharts.vca -text
misc/foxcharts/foxcharts.vct -text
misc/foxcharts/foxcharts.vcx -text
misc/foxcharts/gdiplusx.vca -text
misc/foxcharts/gdiplusx.vct -text
misc/foxcharts/gdiplusx.vcx -text
misc/foxcharts/system.drawing.h -text
misc/sfwtreeview/readini.prg -text
misc/sfwtreeview/sfctrls.h -text
misc/sfwtreeview/sfctrls.vca -text
misc/sfwtreeview/sfctrls.vct -text
misc/sfwtreeview/sfctrls.vcx -text
misc/sfwtreeview/sfexplorer.vca -text
misc/sfwtreeview/sfexplorer.vct -text
misc/sfwtreeview/sfexplorer.vcx -text
misc/sfwtreeview/sfmenu.vca -text
misc/sfwtreeview/sfmenu.vct -text
misc/sfwtreeview/sfmenu.vcx -text
misc/sfwtreeview/sfpersist.vca -text
misc/sfwtreeview/sfpersist.vct -text
misc/sfwtreeview/sfpersist.vcx -text
misc/sfwtreeview/sfregistry.h -text
misc/sfwtreeview/sfregistry.vca -text
misc/sfwtreeview/sfregistry.vct -text
misc/sfwtreeview/sfregistry.vcx -text
misc/sfwtreeview/sfsplitter.vca -text
misc/sfwtreeview/sfsplitter.vct -text
misc/sfwtreeview/sfsplitter.vcx -text
misc/sfwtreeview/sfstack.vca -text
misc/sfwtreeview/sfstack.vct -text
misc/sfwtreeview/sfstack.vcx -text
misc/sfwtreeview/sftreeview.h -text
misc/sfwtreeview/sftreeview.vca -text
misc/sfwtreeview/sftreeview.vct -text
misc/sfwtreeview/sftreeview.vcx -text
misc/sfwtreeview/writeini.prg -text
misc/xfrxlib/locclass.prg -text
misc/xfrxlib/xfrx.css -text
misc/xfrxlib/xfrx.ico -text
misc/xfrxlib/xfrxbook.bmp -text
misc/xfrxlib/xfrxbook.msk -text
misc/xfrxlib/xfrxcrs.bmp -text
misc/xfrxlib/xfrxcrs.msk -text
misc/xfrxlib/xfrxdm.bmp -text
misc/xfrxlib/xfrxdm.msk -text
misc/xfrxlib/xfrxemail.bmp -text
misc/xfrxlib/xfrxemail.msk -text
misc/xfrxlib/xfrxexport.bmp -text
misc/xfrxlib/xfrxexport.msk -text
misc/xfrxlib/xfrxfind.bmp -text
misc/xfrxlib/xfrxfind.msk -text
misc/xfrxlib/xfrxfirst.bmp -text
misc/xfrxlib/xfrxfirst.msk -text
misc/xfrxlib/xfrxhand.cur -text
misc/xfrxlib/xfrxhand2.cur -text
misc/xfrxlib/xfrxhpl.bmp -text
misc/xfrxlib/xfrxhpl.msk -text
misc/xfrxlib/xfrximg.bmp -text
misc/xfrxlib/xfrximg.msk -text
misc/xfrxlib/xfrxlast.bmp -text
misc/xfrxlib/xfrxlast.msk -text
misc/xfrxlib/xfrxlbl.bmp -text
misc/xfrxlib/xfrxlbl.msk -text
misc/xfrxlib/xfrxlbot.bmp -text
misc/xfrxlib/xfrxlbot.msk -text
misc/xfrxlib/xfrxlch.bmp -text
misc/xfrxlib/xfrxlch.msk -text
misc/xfrxlib/xfrxlcho.bmp -text
misc/xfrxlib/xfrxlcho.msk -text
misc/xfrxlib/xfrxlcv.bmp -text
misc/xfrxlib/xfrxlcv.msk -text
misc/xfrxlib/xfrxlcvo.bmp -text
misc/xfrxlib/xfrxlcvo.msk -text
misc/xfrxlib/xfrxlib.h -text
misc/xfrxlib/xfrxlib.vca -text
misc/xfrxlib/xfrxlib.vct -text
misc/xfrxlib/xfrxlib.vcx -text
misc/xfrxlib/xfrxlib_csy.cdx -text
misc/xfrxlib/xfrxlib_csy.dbf -text
misc/xfrxlib/xfrxlib_csy.dta -text
misc/xfrxlib/xfrxlib_csy.fpt -text
misc/xfrxlib/xfrxlib_csy.vca -text
misc/xfrxlib/xfrxlib_csy.vct -text
misc/xfrxlib/xfrxlib_csy.vcx -text
misc/xfrxlib/xfrxlib_de.cdx -text
misc/xfrxlib/xfrxlib_de.dbf -text
misc/xfrxlib/xfrxlib_de.dta -text
misc/xfrxlib/xfrxlib_de.fpt -text
misc/xfrxlib/xfrxlib_de.vca -text
misc/xfrxlib/xfrxlib_de.vct -text
misc/xfrxlib/xfrxlib_de.vcx -text
misc/xfrxlib/xfrxlib_fr.cdx -text
misc/xfrxlib/xfrxlib_fr.dbf -text
misc/xfrxlib/xfrxlib_fr.dta -text
misc/xfrxlib/xfrxlib_fr.fpt -text
misc/xfrxlib/xfrxlib_fr.vca -text
misc/xfrxlib/xfrxlib_fr.vct -text
misc/xfrxlib/xfrxlib_fr.vcx -text
misc/xfrxlib/xfrxlib_rs.cdx -text
misc/xfrxlib/xfrxlib_rs.dbf -text
misc/xfrxlib/xfrxlib_rs.dta -text
misc/xfrxlib/xfrxlib_rs.fpt -text
misc/xfrxlib/xfrxlib_rs.vca -text
misc/xfrxlib/xfrxlib_rs.vct -text
misc/xfrxlib/xfrxlib_rs.vcx -text
misc/xfrxlib/xfrxlib_tr.cdx -text
misc/xfrxlib/xfrxlib_tr.dbf -text
misc/xfrxlib/xfrxlib_tr.dta -text
misc/xfrxlib/xfrxlib_tr.fpt -text
misc/xfrxlib/xfrxlib_tr.vca -text
misc/xfrxlib/xfrxlib_tr.vct -text
misc/xfrxlib/xfrxlib_tr.vcx -text
misc/xfrxlib/xfrxlib_xxx.cdx -text
misc/xfrxlib/xfrxlib_xxx.dbf -text
misc/xfrxlib/xfrxlib_xxx.dta -text
misc/xfrxlib/xfrxlib_xxx.fpt -text
misc/xfrxlib/xfrxlin.bmp -text
misc/xfrxlib/xfrxlin.msk -text
misc/xfrxlib/xfrxllef.bmp -text
misc/xfrxlib/xfrxllef.msk -text
misc/xfrxlib/xfrxlrig.bmp -text
misc/xfrxlib/xfrxlrig.msk -text
misc/xfrxlib/xfrxlsm.bmp -text
misc/xfrxlib/xfrxlsm.msk -text
misc/xfrxlib/xfrxlsmh.bmp -text
misc/xfrxlib/xfrxlsmh.msk -text
misc/xfrxlib/xfrxlsmhm.bmp -text
misc/xfrxlib/xfrxlsmhm.msk -text
misc/xfrxlib/xfrxlsmm.bmp -text
misc/xfrxlib/xfrxlsmm.msk -text
misc/xfrxlib/xfrxlsmv.bmp -text
misc/xfrxlib/xfrxlsmv.msk -text
misc/xfrxlib/xfrxlsmvm.bmp -text
misc/xfrxlib/xfrxlsmvm.msk -text
misc/xfrxlib/xfrxltop.bmp -text
misc/xfrxlib/xfrxltop.msk -text
misc/xfrxlib/xfrxlzb.bmp -text
misc/xfrxlib/xfrxlzb.msk -text
misc/xfrxlib/xfrxlzt.bmp -text
misc/xfrxlib/xfrxlzt.msk -text
misc/xfrxlib/xfrxmh.ico -text
misc/xfrxlib/xfrxmm.ico -text
misc/xfrxlib/xfrxmv.ico -text
misc/xfrxlib/xfrxnext.bmp -text
misc/xfrxlib/xfrxnext.msk -text
misc/xfrxlib/xfrxoff.cur -text
misc/xfrxlib/xfrxpage.bmp -text
misc/xfrxlib/xfrxpage.msk -text
misc/xfrxlib/xfrxprev.bmp -text
misc/xfrxlib/xfrxprev.msk -text
misc/xfrxlib/xfrxprint.bmp -text
misc/xfrxlib/xfrxprint.ico -text
misc/xfrxlib/xfrxprint.msk -text
misc/xfrxlib/xfrxprintmsk.bmp -text
misc/xfrxlib/xfrxprop.bmp -text
misc/xfrxlib/xfrxprop.msk -text
misc/xfrxlib/xfrxquit.bmp -text
misc/xfrxlib/xfrxquit.msk -text
misc/xfrxlib/xfrxsave.bmp -text
misc/xfrxlib/xfrxsave.msk -text
misc/xfrxlib/xfrxsh.cur -text
misc/xfrxlib/xfrxshp.bmp -text
misc/xfrxlib/xfrxshp.msk -text
misc/xfrxlib/xfrxsv.cur -text
misc/xfrxlib/xfrxtlbo.bmp -text
misc/xfrxlib/xfrxtlbo.msk -text
picts/audicon.png -text
picts/browse.png -text svneol=unset#unset
picts/dismorepopup.png -text
picts/dispopupbrowse.png -text
picts/down.png -text
picts/elpay.png -text
picts/exclamation.png -text
picts/gridbg.gif -text
picts/icons/elpay.ico -text
picts/icons/search.ico -text
picts/information.png -text
picts/maintenance.png -text
picts/morepopup.png -text
picts/navbg.gif -text
picts/popupbrowse.png -text
picts/progressbar.gif -text
picts/question.png -text
picts/stop.png -text
picts/unlock.png -text
picts/up.png -text
picts/visa-amex-mc.gif -text
progs/bmshandler.prg -text
progs/cadefargus.prg -text
progs/cadefdesk.prg -text
progs/ccopyandzip.prg -text
progs/commonfunc.prg -text
progs/cryptor.h -text
progs/dynamicformatting.prg -text
progs/foxbarcodeqr.prg -text
progs/fpwings.prg -text
progs/frontofficeaccess.prg -text
progs/json.prg -text
progs/kkelpay.prg -text
progs/proccryptor.prg -text
progs/proctablereservation.prg -text
progs/sqlcursor.prg -text
progs/sqlfilter.prg -text
progs/sqlparse.prg -text
progs/sqlremote.prg -text
progs/vfpwinsock.prg -text
progs/xfrx.fxp -text
